* {
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0;
    background-color: lightgrey;
    font-family: 'Lato', sans-serif;
}

.main-container{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.start-container{
    text-align: center;
}

.start-container h1{
    font-size: 3em;
    font-weight: bold;
    color: #4d5b9e;
    margin: 0;
}

.start-container h3{
    font-size: 1em;
    color: #4d5b9e;
    margin: 0.5em 0 1em 0
}

.start-container button, 
.submit-answers-btn {
    font-size: 1em;
    color: white;
    background-color: #4d5b9e;
    margin: 1em;
    padding: 0.8em 2.5em;
    border-radius: 10px;
    border: none;
    font-family: 'Lato', sans-serif;
}

.submit-answers-btn {
    align-self: center;
}

.question-container{
    text-align: left;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.unanswered{
    color: red;
}

.answers{
    display: flex;
    justify-content: start;
    gap: 20px;
    margin: 0.5em 0 0 0;
}

.answer,
.selected-answer,
.correct-answer,
.wrong-answer{
    padding: 0.5em 1em;
    border-radius: 4.6px;
}

.answer{
    color: #4d5b9e;
    font-weight: bold;
    border: 1px solid #4d5b9e;
}

.selected-answer{
    background-color: #4d5b9e;
    color: white;
    border: 1px solid #4d5b9e;
}

.correct-answer{
    background-color: green;
    color: white;
    border: 1px solid green;
}

.wrong-answer{
    background-color: pink;
    color: grey;
    border: 1px solid pink;
}

.question{
    font-size: 1.2em;
    color: #4d5b9e;
    font-weight: bold;
}

.finished-container{
    align-self: center;
    display: flex;
    align-items: center;
    gap: 20px;
}

.score-message{
    font-size: 1.2em;
    color: #4d5b9e;
    font-weight: bold;
}