body {
    margin: 0;
    background-color: #1e2938;
    color: white;
}

.main-content{
    margin: 50px;
    width: 500px;
}

.main-head{
    margin: 5px 0;
}

.green-header{
    color: #49E087;
}

h3{
    color: #bfc3ca;
    font-weight: lighter
}

.gen-pass-but{
    background-color: #49E087;
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    margin: 30px 0 25px 0;
}

.pass-boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.result-box{
    background-color: #283539;
    padding: 10px 15px;
    border-radius: 5px;
    color:  #49E087;
    margin: 25px 0 0 0;
    width: 42%;
    text-align: center;
}

hr{
    color: #283539;
}